.poster-wrapper {
  position: relative;
  /* width: clamp(15rem, 43%, 27rem); */
  /* max-width: min(45%, 27rem); */
  max-width: 27rem;
  display: flex;
  border-radius: 2rem;
  /* background: red; */
  /* border: 2px solid rgb(100, 100, 100, 0.3); */
}
.poster-wrapper > img {
  width: 100%;
  border-radius: 2rem;
}

/* HOVER CONTENT START */
.poster-hoverWrapper {
  opacity: 0;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  border: 2px solid var(--clr-2);
  background: linear-gradient(rgb(0, 0, 0, 0.85) 35%, rgb(0, 0, 0, 0.2));
  transition: all 0.2s;
}
.poster-wrapper:hover .poster-hoverWrapper {
  opacity: 1;
}

.poster-hoverContent {
  padding: 2rem 1.4rem;
  border-radius: 2rem;
}
.poster-hoverContent > h2 {
  font-size: 1.8rem;
}
.poster-hoverContent > p {
  margin-bottom: 2.6rem;
  font-family: var(--font-1);
  font-size: 1.2rem;
  color: var(--clr-3);
}
@media only screen and (min-width: 500px) {
  .poster-hoverContent > h2 {
    font-size: 2.2rem;
  }
  .poster-hoverContent > p {
    font-size: 1.4rem;
  }
}
.poster-button {
  border: 1px solid var(--clr-3);
  border-radius: 5rem;
  background: none;
  font-weight: 100;
}
.poster-button > .fa-solid {
  position: relative;
  top: 0.25rem;
  left: 0.1rem;
  text-align: center;
  margin: auto;
  width: 1.5rem;
  height: 3rem;
}
/* HOVER CONTENT END */
