.home-flexWrapper {
  padding-bottom: 1.1rem;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER START */
header {
  --line-curve: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.home-dividerLine {
  height: 0.4rem;
  background: var(--clr-4);
}
.home-dividerLine1 {
  width: 6.5rem;
  border-top-right-radius: var(--line-curve);
  border-bottom-right-radius: var(--line-curve);
}
header > img {
  padding-left: 1.5rem;
  padding-right: 1.2rem;
  width: min(25rem, 45%);
}
.home-dividerLine2 {
  width: 100%;
  border-top-left-radius: var(--line-curve);
  border-bottom-left-radius: var(--line-curve);
  background: linear-gradient(to right, var(--clr-4) 40%, var(--clr-5));
}
/* HEADER END */

a {
  padding: 0.8rem 1rem 0.5rem;
  color: inherit;
  text-decoration: none;
  text-underline-offset: 3px;
  background: var(--clr-2);
  color: var(--clr-1);
  border: 2px solid var(--clr-1);
  border-radius: 0.5rem;
  font-family: var(--font-2), Arial, Helvetica, sans-serif;
  transition: all 0.2s;
}
a:active {
  background: var(--clr-1);
  color: var(--clr-2);
}
@media only screen and (hover: hover) {
  a:hover {
    background: var(--clr-1);
    color: var(--clr-2);
  }
  a:active {
    color: var(--clr-3);
  }
}

/* POSTER GRID START */
.home-posterGrid {
  --max-poster-width: 27rem;
  --num-of-cols: 2;
  margin: 0 auto 2rem;
  padding: 0 2rem;
  max-width: calc(
    var(--max-poster-width) * var(--num-of-cols) + 1.3rem *
      (var(--num-of-cols) - 1)
  );
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
  justify-content: center;
}
@media only screen and (min-width: 800px) {
  .home-posterGrid {
    --num-of-cols: 3;
    grid-template-columns: repeat(3, 1fr);
  }
}
/* POSTER GRID END */

footer {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}
