:root {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.home-flexWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  margin: auto;
  margin-top: -2rem;
  width: clamp(16rem, 28%, 23rem);
}
.logo-wrapper > img {
  width: 100%;
}

p {
  text-align: center;
}
