.home-flexWrapper {
  padding-bottom: 1.1rem;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-divider {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.home-divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.7rem;
  background: green;
}
.home-divider > img {
  position: relative;
  margin-left: 3rem;
  padding: 0 1.5rem;
  max-width: 25rem;
  background: var(--clr-2);
}

a {
  padding: 0.8rem 1rem 0.5rem;
  color: inherit;
  text-decoration: none;
  text-underline-offset: 3px;
  background: var(--clr-2);
  color: var(--clr-1);
  border: 2px solid var(--clr-1);
  border-radius: 0.5rem;
  font-family: var(--font-2), Arial, Helvetica, sans-serif;
  transition: all 0.2s;
}
a:active {
  background: var(--clr-1);
  color: var(--clr-2);
}
@media only screen and (hover: hover) {
  a:hover {
    background: var(--clr-1);
    color: var(--clr-2);
  }
  a:active {
    color: var(--clr-3);
  }
}

footer {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}
